.task-container {
    padding: .5em;
    background: lightsalmon;
    width: 25%
}

.tasks {
    display: block;
    padding: .5em;
}

.btn {
    background: darksalmon;
    padding: .5em;
    color: #000;
    cursor:pointer;
}